{{=@@ @@=}}
%%
%% application properties file.
%%

[
 %% SASL config
 {sasl, [
         {sasl_error_logger, false},
         {errlog_type, error},
         {error_logger_mf_dir, "{{log_dir}}/{{node_name}}/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 10}           % 5 files max
        ]},

 {kernel,[
          {logger_level, error},
          {logger,
           [{handler, default, logger_disk_log_h,  % {handler, HandlerId, Module,
             #{config => #{
                           file => "{{log_dir}}/{{node_name}}_logger.log",
                           type => wrap,
                           max_no_files => 5,
                           max_no_bytes => 10485760
                          }
              }
            }  % Config}
           ]}
         ]},

 %% LAGER Config
 {lager, [
          {log_root, "{{log_dir}}"},
          {handlers, [
                      {lager_file_backend, [{file, "{{node_name}}.log"}, {level, {{lager_log_level}}},
                                            {size, 10485760}, {count, 5}]}
                     ]},

          %% Any other sinks
          {extra_sinks,
           [
            {xrecon_trace_lager_event,
             [{handlers,
               [{lager_file_backend,
                 [{file, "{{node_name}}-recon-trace.log"},
                  {level, info},
                  {size, 10485760}, {date, "$D0"}, {count, 5},
                  {formatter, lager_default_formatter},
                  {formatter_config, [date, " ", time," [",severity,"] ", message, "\n"]}
                 ]
                }]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }
           ]
          }
         ]},

%% {mnesia, [
%%           {dir, "{{lib_dir}}/{{node_name}}-mnesia"}
%%          ]},

 {@@name@@, [
            ]}

].
