[Unit]
Description={{name}} Service
After=network.target

[Service]
ExecStart=/opt/{{name}}/bin/{{name}} daemon
ExecStop=/opt/{{name}}/bin/{{name}} stop
User={{name}}
WorkingDirectory=/opt/{{name}}/bin
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target