{{=@@ @@=}}
{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info
           ]
}.

{extra_src_dirs, [{"test", [{recursive, true}]}]}.

{deps, [
        %%  {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.2"}}},
@@#svc@@
        {epmdlib, "1.0.0"}
@@/svc@@
       ]}.

@@^svc@@
{shell, [
@@#appl@@
         {config, "test/stubs/sys.config"},
@@/appl@@
         {apps, [@@name@@]}
]}.

{edoc_opts, [{dir, "docs"}, {preprocess, true}]}.
@@/svc@@

{project_plugins, [{rebar3_lint, "0.1.11"}, {rebar3_check_deps, "0.1.0"}]}.

{plugins, [
          ]}.

{provider_hooks, [
                  {pre, [
                        ]},
                  {post, [
                         ]}
                 ]}.

@@#svc@@
{pre_hooks, [
             {compile, "mkdir -p priv"}
            ]}.

{post_hooks,
 [
  {compile, "echo \"version: `./ebump current`\" >> priv/build_id"}
 ]
}.
@@/svc@@

{cover_enabled, true}.
{cover_export_enabled, true}.

%% xref configurations
{xref_checks,[undefined_function_calls, undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

@@#svc@@
%% relx release configurations
{relx, [{release, {'@@name@@', {cmd, "./ebump current"}},
         ['@@name@@']},

        {dev_mode, false},
        {include_erts, true},
        {system_libs, true},

        {overlay_vars, "./config/local.vars"},
        {overlay, [
                   {template, "./config/sys.config", "releases/{{release_version}}/sys.config"},
                   {template, "./config/vm.args", "releases/{{release_version}}/vm.args"},
                   {template, "./config/dist.conf", "releases/{{release_version}}/dist.conf"}
                  ]},
        {extended_start_script, true}]
}.

{profiles, [
            {test, [{deps, [
                            {meck, "0.9.0"},
                            {elli, "3.3.0"}
                           ]},
                    {relx, [{overlay_vars, ["./config/local.vars", "./config/test.vars"]}]}
                   ]},
            {prod, [{erl_opts, [no_debug_info]},
                    {relx, [{dev_mode, false}, {include_erts, true}, {include_src, false},
                            {overlay_vars, ["./config/local.vars", "./config/prod.vars"]}]}]}
           ]}.
@@/svc@@
@@^svc@@
{profiles, [
            {test, [{deps, [
                            {meck, "0.9.0"}
                           ]}
                   ]}
]}.
@@/svc@@
