{description, "Rust NIF's using rustler in rustler/"}.
{variables, [
    {name, "rust_nif", "NIF name"}
]}.


{dir, "rustler/src"}.
{dir, "src"}.

{template, "rnif_nif.erl", "./src/{{name}}_nif.erl"}.
{template, "rnif_lib.rs", "./rustler/src/lib.rs"}.
{template, "rnif_mod.rs", "./rustler/src/{{name}}.rs"}.
{template, "rnif_makefile", "./rustler/Makefile"}.
{template, "rnif_cargo.toml", "./rustler/Cargo.toml"}.
{template, "rnif_rebar_config_script", "./rebar.config.script"}.